{% extends "core/base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block logincontent %}
{% load crispy_forms_tags %}
<div class="container my-4">
    <h2 class="text-center">Iniciar Sesión</h2>

    <!-- sección de mensajes -->
    <form action="" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mx-auto my-5" style="width: 40rem;">
            <div class="card-body">
                {{ form | crispy }}
                <button class="btn btn-primary float-end" href={% url 'finalconfirm' %} type="submit">Iniciar sesión</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}