{% extends "core/base.html" %}
{% load static %}

{% block title %}Añadir producto{% endblock title %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container my-4">
        <h2 class="text-center">Agregar Producto</h2>

        <!-- sección de mensajes -->
        <form action="" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card mx-auto my-5" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title">Complete todos los campos</h5>
                    {{ form | crispy }}
                    <button class="btn btn-primary float-end" href={% url 'finalconfirm' %} type="submit">Añadir producto</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block logincontent %}
<div class="button-container">
    <a class="button" href={% url 'login'%}>Iniciar sesión</a>
</div>
{% endblock logincontent %}