{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'core/css/styleaddproduc.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/stylemovproduc.css' %}">
    <link rel="stylesheet" href="{% static "core/css/stylerecords.css" %}">
    <link rel="stylesheet" href="{% static "core/css/styles.css" %}">
    <link rel="stylesheet" href="{% static 'core/css/styleshome.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styleinventory.css' %}">
    <link rel="stylesheet" href="{% static "core/css/stytleconfirmremove.css" %}">
    {% block styletable %}{% endblock styletable %}

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% comment %} navegation {% endcomment %}
    <nav class="navbar">
        <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="/records" class="{% if request.path == '/records' %}active{% endif %}">Registros</a>
        <a href="/inventory" class="{% if request.path == '/inventory' %}active{% endif %}">Inventario</a>
        <a href="/movestock" class="{% if request.path == '/movestock' %}active{% endif %}">Mover Stock</a>
        {% if request.user.is_authenticated %}
        <a class="nav-link" href={% url 'logout' %}>Cerrar sesion</a>
        {% else %}
        <a class="nav-link" href={% url 'login'%}>Iniciar sesión</a>
        {% endif %}
    </nav>
    {% if request.user.is_authenticated %}
    {% block content %}
    {% endblock content %}
    {% else %}

    {% block logincontent %}
    {% endblock logincontent %}

    {% endif %}

</body>
</html>