{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "core/css/styles.css" %}">
    <title>Gestor de stock {% block title %}{% endblock title %} </title>
</head>
<body>
    {% comment %} navegation {% endcomment %}
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/records">Registros</a>
        <a href="/inventory">Inventario</a>
        <a href="/movestock">Mover Stock</a>
        <a href="#">logout</a>
    <!-- iniciar sesion -->
        {% if request.user.is_authenticated %}
        <li class="nav-item nav-item">
            <li class="nav-item d-flex align-items-center ml-3">
                <p class="nav-link" >
                    <img src="../../static/core/images/iconsperson1.png" alt="">
                    {{ user.username }}
                </p>
            </li>
        </li>

        <li class="nav-item nav-item">
            <a class="nav-link" href={% url 'logout' %}>Salir</a>
        </li>

        {% else %}
        <li class="nav-item">
            <li class="nav-item d-flex align-items-center ml-3">
                <a class="nav-link" href={% url 'login'%}>
                    Iniciar sesión
                </a>
            </li>
        </li>
        {% endif %}
        {% comment %} iniciar sesion {% endcomment %}
    </div>

    <div style="padding: 20px;">
        <h1>Bienvenido</h1>
        <p>Usa los enlaces de la barra de navegación para probar el diseño.</p>
    </div>


    {% block content %}
    {% endblock content %}


</body>
</html>