{% extends "core/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container" style="padding-top: 20rem;">
    <div class="container position-relative" >
        <!-- Panel izquierdo -->
        <div class="card text-center position-absolute top-50 start-0 translate-middle-y border border-2" style="width: 53rem; height: 39rem;">
            <div class="card-body">
                {% comment %} alertas {% endcomment %}
                <div class="card text-center">
                    <h1>Alertas</h1>
                    <div class="card-body">
                        <ul>
                            {% for product  in criticalStock %}
                            <li class="text-bg-danger">{{ product.product_name }}: {{ product.product_stock }} unidades</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
                <div class="card text-center">   
                    <h1>Últimos movimientos</h1>
                    {% comment %} Registros de entrada {% endcomment %}
                    <div class="card mb-3" style="height: 200px;">
                        <h4 class="p-2">Registros de entrada</h4>
                        <div class="table-responsive" style="height: 170px; overflow-y: auto;">
                            <table class="table table-striped">
                                <thead class="table-light" style="position: sticky; top: 0; z-index: 1020;">
                                    <tr>
                                        <!-- Ajusta los encabezados de acuerdo a los campos del modelo -->
                                        <th>ID</th>
                                        <th>Fecha</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Encargado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if inmov %}
                                    {% for registro in inmov %}
                                    <tr>
                                        <!-- Reemplaza los campos según los atributos de tu modelo -->
                                        <td>{{ registro.addmov_id }}</td>
                                        <td>{{ registro.addmov_date }}</td>
                                        <td>{{ registro.product.product_name }}</td>
                                        <td>{{ registro.addmov_prodQuantity }}</td>
                                        <td>{{ registro.incharge.user.username }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="5">No hay registros disponibles.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                    {% comment %} Registros de salida {% endcomment %}
                    <div class="card" style="height: 200px;">
                        <h4 class="p-2">Registros de salida</h4>
                        <div class="table-responsive" style="height: 170px; overflow-y: auto;">
                            <table class="table table-striped">
                                <thead class="table-light" style="position: sticky; top: 0; z-index: 1020;">
                                    <tr>
                                        <!-- Ajusta los encabezados de acuerdo a los campos del modelo -->
                                        <th>ID</th>
                                        <th>Fecha</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Encargado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if outmov %}
                                    {% for registro in outmov %}
                                    <tr>
                                        <!-- Reemplaza los campos según los atributos de tu modelo -->
                                        <td>{{ registro.removemov_id }}</td>
                                        <td>{{ registro.removemov_date }}</td>
                                        <td>{{ registro.product.product_name }}</td>
                                        <td>{{ registro.removemov_prodQuantity }}</td>
                                        <td>{{ registro.incharge.user.username }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="5">No hay registros disponibles.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Panel derecho -->
        <div class="card text-center position-absolute top-50 end-0 translate-middle-y border border-2 " style="width: 26rem; height: 39rem;">
            <div class="card-body">
                {% if request.user.is_authenticated %}
                {% comment %} <img src={{userprofile.0.image.url}} class="card-img-top" style="width: 15rem; border-radius: 5%; height:15rem" alt="Foto de perfil"> {% endcomment %}
                <p><strong>Nombre:</strong> {{ userprofile.0.name }}</p>
                <p><strong>Rut:</strong> {{ userprofile.0.rut }}</p>
                <p><strong>Fono:</strong> {{ userprofile.0.telephone }}</p>
                <p><strong>Correo Electrónico:</strong> {{ userprofile.0.email }}</p>
                {% endif %}

                {% if is_admin_or_jefe %}
                <div >
                    <a class="btn btn-primary" href={% url 'usermanage'%}>Gestion de usuarios</a>
                </div>
                {% endif %}

            </div>
            
        </div>
    </div>
</div>       
{% endblock %}

{% block logincontent %}
<div class="position-absolute top-50 start-50 translate-middle">
    <a class="btn btn-primary" href={% url 'login' %}>Iniciar sesión</a>
</div>
{% endblock logincontent %}