{% extends "core/base.html" %}
{% load static %}

{% block title %}Inventario{% endblock title %}

{% block content %}
<div class="container" style="padding-top: 20rem;">
    <!-- Contenedor principal -->
    <div class="container position-relative">

        <!-- Panel izquierdo (Lista de productos) -->
        <div class="row">
            <div class="col-4">
                <nav class="h-100 flex-column align-items-stretch pe-4 border-end">
                    <div class="card position-absolute top-50 start-0 translate-middle-y border border-2" style="width: 15rem; height: 39rem;">
                        <h4 class="text-center p-3">Productos</h4>
                        <div class="table-responsive" style="height: calc(39rem - 5rem); overflow-y: auto;">
                            <ul class="list-group list-group-flush">
                                {% for product in products %}
                                    <li class="list-group-item">
                                        <a href="?selectedId={{ product.product_id }}" class="list-group-item {% if product.product_stock <= 5 %}text-bg-danger{% endif %}">
                                            {{ product.product_name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Panel derecho (Detalles del producto) -->
        <div class="card text-center position-absolute top-50 end-0 translate-middle-y border border-2" style="width: 64rem; height: 39rem;">
            <div class="card-body">
                <h2>Producto</h2>
                {% if selectedProd %}
                    <div >
                        <img src="{{ selectedProd.0.product_image.url }}" class="card-img-top border" style="width: 18rem; border-radius: 5%;" alt="Imagen del producto">
                        <p><strong>Nombre del producto:</strong> {{ selectedProd.0.product_name }}</p>
                        <p><strong>ID:</strong> {{ selectedProd.0.product_id }}</p>
                        <p><strong>Stock:</strong> {{ selectedProd.0.product_stock }}</p>
                        <p><strong>Estado:</strong> {{ selectedProd.0.product_desc }}</p>
                        <p><strong>Bodega:</strong> {{ selectedProd.0.storage.storage_id }}</p>
                    </div>

                {% else %}
                    <p>Selecciona un producto para ver los detalles.</p>
                {% endif %}
                <div >
                    <a class="btn btn-primary" href={% url 'addproduct'%}>Añadir producto</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block logincontent %}
<div class="position-absolute top-50 start-50 translate-middle">
    <a class="btn btn-primary" href={% url 'login' %}>Iniciar sesión</a>
</div>
{% endblock logincontent %}