{% extends "core/base.html" %}
{% load static %}

{% block title %}Mov.Stock{% endblock title %}

{% block content %}

<div style="padding: 20px;">
    <h1>Este es el movimiento de stock</h1>
</div>

<div class="button-container">
    <a href={% url 'removestock' %} class="button">Remove stock</a>
    <br>
    <a href={% url 'addstock' %} class="button">add stock</a>
</div>
{% endblock content %}

{% block logincontent %}
<div class="button-container">
    <a class="button" href={% url 'login'%}>Iniciar sesión</a>
</div>
{% endblock logincontent %}