{% extends "core/base.html" %}
{% load static %}

{% block title %}Registros{% endblock title %}

{% block content %}
<div class="container">
    <h1>Registro de movimientos</h1>
    <form method="get" action="{% url 'records' %}">
        <div class="actions-records">
            <select name="periodoftime" class="dropdown-records">
                <option value="day">Hoy</option>
                <option value="week">Última semana</option>
                <option value="month">Último mes</option>
                <option value="year">Último año</option>
                <option value="all">Todos</option>
            </select>
            <button type="submit" class="button-report-records">Filtrar</button>
        </div>
    </form>

    <div class="table-records">
        <div class="column-records">
            <h2>Entrada</h2>
            {% if recordsadd %}
                <ul>
                    {% for record in recordsadd %}
                        <li>ID: {{ record.addmov_id }} | Cantidad: {{ record.addmov_prodQuantity }} | Fecha: {{ record.addmov_date }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay movimientos de entrada.</p>
            {% endif %}
        </div>
        <div class="column-records">
            <h2>Salida</h2>
            {% if recordsremove %}
                <ul>
                    {% for record in recordsremove %}
                        <li>ID: {{ record.removemov_id }} | Cantidad: {{ record.removemov_prodQuantity }} | Fecha: {{ record.removemov_date }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay movimientos de salida.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block logincontent %}
<div class="button-container">
    <a class="button" href={% url 'login'%}>Iniciar sesión</a>
</div>
{% endblock logincontent %}